body {
  overflow-y: hidden;
}

.start_display {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top:0;
  left:0;
  z-index: 1000;
  background: #3C3C3A;
  -webkit-animation: startDisplayNone ease-in-out 1s 1s 1 forwards;
          animation: startDisplayNone ease-in-out 1s 1s 1 forwards;
}

.start_display_image {
  width: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: scaleImg ease-in-out 1s 1s 1 forwards;
          animation: scaleImg ease-in-out 1s 1s 1 forwards;
}

@-webkit-keyframes startDisplayNone {
  from {
    background: #3C3C3A;
  }
  to {
    background: rgba(0, 0, 0, 0);
    pointer-events: none;
    z-index: 42;
  }
}

@keyframes startDisplayNone {
  from {
    background: #3C3C3A;
  }
  to {
    background: rgba(0, 0, 0, 0);
    pointer-events: none;
    z-index: 42;
  }
}

@-webkit-keyframes scaleImg {
  from {
    width: 200px;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
  }
  to {
    width: 65px;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    left: 0;
    top: 0;
  }
}

@keyframes scaleImg {
  from {
    width: 200px;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
  }
  to {
    width: 65px;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    left: 50px;
    top: 0;
  }
}

/* Header */
.social_group {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px;
}

.social_btn_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateY(30%);
          transform: translateY(30%);
  opacity: 0;
  -webkit-transition: opacity .7s ease-in-out 2.2s,
  transform .7s ease-in-out 2.2s;
  transition: opacity .7s ease-in-out 2.2s,
  transform .7s ease-in-out 2.2s;
}

.social_btn_group.animate_scroll-active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.social_btn_block {
  width: 200px;
}

.watch {
  width: 50%;
  padding-bottom: 30%;
  position: relative;
  -webkit-transform: translate(10%, 10%);
          transform: translate(10%, 10%);
  opacity: 0;
  -webkit-transition: opacity .7s ease-in-out 1.8s,
  transform .7s ease-in-out 1.8s;
  transition: opacity .7s ease-in-out 1.8s,
  transform .7s ease-in-out 1.8s;
}

.watch.animate_scroll-active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.watch iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.slider_of_stud {
  position: relative;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
  opacity: 0;
  -webkit-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}

.slider_of_stud.animate_scroll-active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.stud_curators_item {
  height: 0;
  position: relative;
  overflow: hidden;
  padding-top: 35%;
}
.stud_curators {
  overflow: hidden;
}

.stud_curators_item img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider_of_stud .arrows {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 5;
  cursor: pointer;
  outline: none;
}

.slider_of_stud .arrows svg {
  width: 40px;
  height: 40px;
  color: #595959;
}

.slider_of_stud .arrows.left {
  left: -45px;
}

.slider_of_stud .arrows.right {
  right: -45px;
}

.slider_of_stud .swiper-button-disabled {
  display: none;
}

@media (max-width: 1280px) {
  .title_contain {
    width: 100%;
    padding: 0 50px;
  }
  .header_title {
    font-size: 50pt;
  }
}

@media (max-width: 992px) {
  .watch {
    width: 60%;
    padding-bottom: 40%;
    margin: 0 2%;
  }
  .social_btn_group {
    width: 18%;
  }
  .social_btn_block {
    width: 100%;
  }
}

@media (max-width: 770px) {
  .social_group {
    padding: 24px 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .watch {
    width: 100%;
    margin: 0 0 10px;
    padding-bottom: 50%;
  }
  .slider_of_stud .arrows svg {
    width: 30px;
    height: 30px;
  }
  .slider_of_stud .arrows.left {
    left: -35px;
  }
  .slider_of_stud .arrows.right {
    right: -35px;
  }
  .social_btn_group_item:first-child {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .social_btn_group_item:nth-child(2) {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .social_group {
    padding: 0;
  }
  .social_btn_group {
    width: 50%;
    max-width: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .social_btn_block {
    width: 50%;
  }
  .social_btn:first-child {
    margin-bottom: 0;
  }
  .stud_curators_item {
    padding-top: 50%;
  }
}

@media (max-width: 460px) {
  .hide-nav {
    display: none;
  }
  .stud_curators {
    width: 90%;
  }
  .stud_curators_item {
    width: 100%;
    margin: 0px auto;
    padding-top: 100%;
  }
  .slider_of_stud .arrows.left {
    left: -10px;
  }
  .slider_of_stud .arrows.right {
    right: -10px;
  }
}
